{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "target": "es2018",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "baseUrl": "src",
    "paths": {
      "@infra/*": ["./infra/*"],
      "@common/*": ["./common/*"],
      "@lib/*": ["./lib/*"],
      "@config/*": ["./config/*"],
      "@modules/*": ["./modules/*"],
      "@middleware/*": ["./middleware/*"],
      "@models/*": ["./models/*"],
      "@repositories/*": ["./repositories/*"]
    }
  },
  "minify": false
}
